body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.entry-page {
    text-align: center;
    width: 100%;
    height: 100%;
    background: url('dann.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.entry-page button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
}

.video-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
}

.door-image {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

video {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.close-page {
    text-align: center;
    width: 100%;
    height: 100%;
    background: url('dann.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
}